<form method="post" action="/auth/login">
  <div>
    <label for="username">User name</label>
    <input name="username" id="username" type="text">
  </div>
  <div>
    <label for="password">User name</label>
    <input name="password" id="password" type="password">
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>
